<div class="container">
    <div class="left-side">
      <img src="../assets/parcelapp.png" alt="Left Image" class="left-image">
    </div>
    
    <div class="right-side">
      <div class="top-section">
        <div class="logo-left-side">
          <img src="../assets/paraEmpresas.PNG" alt="Encomanage Logo" class="logo">
          <div class="header-text">
            <p>Descubre nuestras soluciones especializadas para gestionar tus envíos de manera eficiente y optimizar tu proceso de logística. ¿Listo para llevar tu negocio al siguiente nivel?</p>
          </div>
        </div>
        <div class="logo-right-side">
          <button class="image-button" (click)="notificaciones()">
            <img src="../assets/empresa.png" alt="Profile Picture" class="profile-pic">
          </button>
        </div>
      </div>
      
      <div class="buttons">
        <button mat-raised-button class="custom-button" (click)="shipSummary()">
          <img src="../assets/resumen.png" alt="Shipping summary"> <span>Resumen de envíos</span>
        </button>
        <button mat-raised-button class="custom-button" (click)="shipAnalytics()">
          <img src="../assets/reporte.png" alt="Shipping analytics"> <span>Analítica de pedidos y rendimiento</span>
        </button>
        <button mat-raised-button class="custom-button" (click)="chats()">
          <img src="../assets/chats.png" alt="Chats"> <span>Chats con clientes y proveedores</span>
        </button>
      </div>

      <div class="logout-section">
        <button mat-raised-button class="logout-button" (click)="logout()">
            <mat-icon class="color-icon">power_off</mat-icon>Cerrar Sesión
        </button>
      </div>
    </div>
  </div>