.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #FBB768;
  padding: 20px;
  background-color: #FFF9F2;
}

.messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}

.message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #FFD5A5;
  display: flex;
  align-items: center; /* Asegura que los elementos estén alineados verticalmente */
  font-family: "Poppins", sans-serif;
}

.message.user {
  background-color: #FFD5A5;
  align-self: flex-end;
}

.message.system {
  background-color: #E8E0D7;
  align-self: flex-start;
}

.message .sender {
  font-weight: bold;
  margin-right: 5px; /* Espacio entre el nombre del remitente y el texto */
}

.chat-form {
  display: flex;
  flex-direction: row;
}

.message-input {
  flex: 1;
  margin-right: 10px;
}

.send-button {
  font-family: "Poppins", sans-serif;
  background-color: #F6A13C;
  color: #FFF9F2;
  font-size: 16px;
  width: auto;
  height: 50px;
  margin: 0 8px;
}

.send-button:hover {
  background-color: #D98829;
}

.custom-button {
  font-family: "Poppins", sans-serif;
  background-color: #1E3A8A;
  color: #FFF9F2;
  font-size: 16px;
  width: auto;
  height: 50px;
  margin: 0 8px;
}

.custom-button:hover {
  background-color: #D98829;
}
