<body>
<div class="Crear-Pedido">
    <div class="Crear-Pedido-Content">
    <div class="Izquierda">
        <div class="Title">
            <h1>Crear Pedido</h1>
        </div>
    <a href="javascript:void(0)" (click)="onSelectEncomienda()" class="button-Seleccionar-Encomienda">Seleccionar Tipo de Encomienda</a>
    <div class="Direcciones">
        <div class="Direccion-Recogida">
            <h1>Ingresar la direccion de recogida</h1>
            <input type="text" [(ngModel)]="order.pickup_address" (input)="onInput()">
            <div *ngIf="!isPickupAddressValid && order.pickup_address.length > 0" class="error-message">
                Prefijo de vía no permitido. Use uno de los siguientes: {{ validTypesOfWays.join(', ') }}
              </div>
        </div>
        <div class="Direccion-Entrega">
            <h1>Ingresar la direccion de entrega</h1>
            <input type="text" [(ngModel)]="order.shipping_address"  (input)="onInput()">
            <div *ngIf="!isShippingAddressValid && order.shipping_address.length > 0" class="error-message">
                Prefijo de vía no permitido. Use uno de los siguientes: {{ validTypesOfWays.join(', ') }}
            </div>
        </div>
    </div>
    <a href="javascript:void(0)" [ngClass]="{'active': order.express_shipping}" (click)="onToggleExpressShipping()" class="button-Envio-Express">Activar Envio Express</a>
    </div>
    <div class="Derecha">
        <img src="..\assets\logo.PNG" alt="">
        <h1>¿No puede encontrar alguna direccion?</h1>
        <h2>!Ubiquela en nuestro nuevo mapa interactivo!</h2>
        <div class="Butones Derecha">
            <a href="javascript:void(0)" class="button-Mapa-Interactivo">Entrar al Mapa Interactivo
                <span class="tooltip-text">Próximamente</span>
            </a>
            <button href="javascript:void(0)"  
                class="button-Crear-Pedido"
                [ngClass]="{'disabled': !isFormValid}" 
                (click)="onSubmitOrder()"
                [disabled]="!isFormValid">Crear Pedido</button>
                <div class="Precio">
                    <h3>Precio: {{ price }} Soles</h3>
                </div>
        </div>
    </div>
    </div>
</div>
