<body>
<div class="contenedor-principal">
    <!--Izquierda-->
    <div class="contenedor-izquierda">
         <!--Titulo-->
        <h1 class="titulo">Historial de pedidos</h1>
        <!--Boton1-->
        <div class="boton">
            <div class="boton-content">
                <img src="embudo.jpg" class="foto-boton">
                <h1 class="boton-display-text1">Filtrar envíos</h1>
            </div>
            <h1 class="boton-bottom-text">-Ordena la lista de envíos</h1>
        </div>
        <!--Boton2-->
        <div class="boton">
            <div class="boton-content">
                <img src="embudo.jpg" class="foto-boton">
                <h1 class="boton-display-text2">Detalles del envío</h1>
            </div>
            <h1 class="boton-bottom-text">-Mira los detalles del envío seleccionado</h1>
        </div>
        <!--Boton3-->
        <div class="boton">
            <div class="boton-content">
                <img src="embudo.jpg" class="foto-boton">
                <h1 class="boton-display-text3">Lista de todos los envíos</h1>
            </div>
            <h1 class="boton-bottom-text">-Selecciona un envío de la lista</h1>
        </div>
    </div>
     <!--Dereccha-->
    <div class="contenedor-derecha">
        <!--Imagen-->
        <div>
            <img src="embudo.jpg" class="foto1">
        </div>  
        <!--Mensaje-->
        <div>
            <img src="embudo.jpg" class="foto1">
            <h1>Filtrar envíos</h1>
        </div>
        <!--Info-->
        <div>
            <img src="embudo.jpg" class="foto1">
            <h1>Filtrar envíos</h1>
        </div>
    </div>
</div>
</body>