<div class="container">
    <div class="left-side">
        <img src="..\assets\parcelapp.png" alt="Ilustración">
    </div>
    <div class="right-side">
        <h1>¿Olvidaste tu contraseña?</h1>
        <p>No te preocupes, puedes recuperarla</p>
        <form class="password-form" [formGroup]="form" (ngSubmit)="verfication()">
            <mat-form-field class="custom-form-field" appearance="outline">
                <mat-label>Código</mat-label>
                <input matInput type="text" placeholder="Ingrese su código" formControlName="codigo">
                <mat-error *ngIf="controlHasError('codigo', 'required')">Este campo es obligatorio</mat-error>
                <mat-error *ngIf="controlHasError('codigo', 'minlength')">Debe tener al menos 4 caracteres</mat-error>
                <mat-error *ngIf="controlHasError('codigo', 'onlyNumbers')">Solo se permiten números</mat-error>
              </mat-form-field>

              <mat-form-field class="custom-form-field" appearance="outline">
                <mat-label>Nueva Contraseña</mat-label>
                <mat-icon matPrefix>lock</mat-icon>
                <input matInput [type]="passwordVisible ? 'text' : 'password'" placeholder="********" formControlName="password" required>
                <mat-icon matSuffix (click)="passwordVisible = !passwordVisible">
                    {{ passwordVisible ? 'visibility_off' : 'visibility' }}
                </mat-icon>
                <mat-error *ngIf="controlHasError('password', 'required')">
                    Este campo es obligatorio
                </mat-error>
                <mat-error *ngIf="controlHasError('password', 'minlength')">
                    Ingrese una nueva contraseña de al menos 4 caracteres.
                </mat-error>
            </mat-form-field>
    
            <button class="confirm-button" mat-raised-button color="primary" [disabled]="!form.valid">
              Verificar
            </button>
          </form>
    </div>
</div>
