<div class="container">
   <div class="image-section">
       <img src="../../assets/negro.jpg" alt="Descripción de la imagen">
   </div>
   <div class="content-section">
       <h1>Bienvenido a <span class="brand">ENCOMANAGE</span></h1>
       <p>La plataforma donde tienes control total sobre tus envíos</p>
       <h2>¡Comienza tu experiencia!</h2>
       <a href="#" class="button google-button">
           <img src="../../assets/negro.jpg" alt="Google Icon">
           <span>Continua con Google</span>
       </a>
       <a href="#" class="button correo-button">
           <img src="../../assets/negro.jpg" alt="Email Icon">
           <span>Continua con tu correo</span>
       </a>
       <p class="login-link">¿Ya tienes una cuenta? <a href="#">Inicia Sesión</a></p>
   </div>
</div>
