<body class="main-body">
    <!--Titulo e imagen-->
    <div class="titulo-container">
        <h1 class="titulo">Lista de envíos</h1>
        <img src="..\assets\logo.PNG" class="logo">
    </div>
    <!--Mensajes-->
    <div class="mensaje-contador-container">
        <h1 class="mensaje-total1">Total de envíos realizados: </h1>
        <h1 class="mensaje-total2"> 0 </h1>
       
    </div>
    <!--Contenedor de seleccion-->
    <div class="contenedor-seleccionar">
        <!--Mensaje seleccionar-->
        <div>
            <h1 class="mensaje-seleccionar">Seleccione un envío de la lista:</h1>
        </div>
        <!--Lista y continuar-->
        <div class="contenedor-lista-cont">
            <!--Lista-->
            <div class="selec-pedido-container">
                <div>
                    
                </div>
            </div>
            <!--Continuar-->
            
            <button mat-raised-button class="mensaje-continuar-container"(click)="irAlMenu()">
                <h1 class="mensaje-continuar">CONTINUAR</h1>
            </button>
        </div>
    </div>
</body>