<p>historial-pedidos works!</p>
<div class="contenedor-principal">
    <!--Izquierda-->
    <div class="contenedor-izquierda">
         <!--Titulo-->
        <h1 class="titulo">historial-pedidos</h1>
        <!--Boton1-->
        <div>
            <div>
                <img src="embudo.jpg" class="foto1">
                <h1>Filtrar envíos</h1>
            </div>
            <h1>-Ordena la lista de envíos</h1>
        </div>
        <!--Boton2-->
        <div>
            <div>
                <img src="embudo.jpg" class="foto1">
                <h1>Filtrar envíos</h1>
            </div>
            <h1>-Ordena la lista de envíos</h1>
        </div>
        <!--Boton3-->
        <div>
            <div>
                <img src="embudo.jpg" class="foto1">
                <h1>Filtrar envíos</h1>
            </div>
            <h1>-Ordena la lista de envíos</h1>
        </div>
    </div>
     <!--Dereccha-->
    <div class="contenedor-derecha">
        <!--Imagen-->
        <div>
            <img src="embudo.jpg" class="foto1">
        </div>  
        <!--Mensaje-->
        <div>
            <img src="embudo.jpg" class="foto1">
            <h1>Filtrar envíos</h1>
        </div>
        <!--Info-->
        <div>
            <img src="embudo.jpg" class="foto1">
            <h1>Filtrar envíos</h1>
        </div>
    </div>
</div>