.main-body{
    background-color: #F6A13C ;
    height: 900px;
    width: 100%;
}
.titulo-container{
    padding-top: 250px;
    justify-content: space-between;
    display: block;
    margin:auto;
   
    width: 100%;
}
.titulo {
    text-align: center;
    justify-content: space-between;
    align-items: left;
    color: #1E3A8A;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    padding-top: 80px;
    padding-bottom: 50px;
    margin: auto;
   
    font-size: 60px;
}
.mensaje-container{
    
    /*overflow: hidden;*/
    width: 620px;
    height: 80px;
    border-radius: 20px;
    background-color: #FFD5A5;
    text-decoration: none;
    align-items: center;
    display: flex;
    margin: auto;
}
.mensaje1{
    padding-top: 10px;
    color: #4B5981;
    margin: auto;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: bold;
    line-height: 1.4;
    font-size: 45px;
    
}